{% extends 'base.html' %}
{% block title %}CHART{% endblock %}
{% block content %}
<div class="container">
  <a href="/">ГЛАВНАЯ</a>
</div>
<div class="container-chart">
    <div class="carousel">
    {% for obj in object %}
        <input type="radio" name="slides" checked="checked" id="slide-{{ forloop.counter }}">
    {% endfor %}
        <ul class="carousel__slides">
            {% for obj in object %}
            <li class="carousel__slide">
                <figure>
                    <div class="tracks">
                        {% for track in obj.data|slice:":10" %}
                            <p class="card__track-only">{{ track.position }}. {{ track.singer }} - {{ track.song }}</p>
                        {% endfor %}
                    </div>
                </figure>
            </li>
            {% endfor %}
        </ul>
        <ul class="carousel__thumbnails">
            {% for obj in object %}
            <li>
                <label for="slide-{{ forloop.counter }}" class="card__date">{{ obj.added_date }}</label>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
