{% extends 'base.html' %}

{% block content %}

    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for obj in object_list %}
      <div class="col">
        <div class="card h-100">
          <img src="{{ obj.logo_path }}" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title">{{ obj.name }}</h5>
            <p class="card-text">{{ obj.description }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ obj.created_date }} Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
        {% endfor %}

    </div>

        <h1>HELLO!</h1>


{% endblock %}